/*
 * Font Families
 */
$system-fonts:         -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-family:      prenton, $system-fonts;
$secondary-font-family: prenton-condensed, $base-font-family;
$body-font-family:      $base-font-family;
$heading-font-family:   $secondary-font-family;

/*
 * Font Sizes
 */

// Line height

$font-sizes: (
  sm: (12px 15px, 16px 30px),
  p: (20px 30px, 24px 45px),
  nav: (16px 30px, false),
  hero: (40px 60px, 120px 120px),
  h1: (36px 45px, 60px 60px),
  h2: (30px 30px, 40px 45px),
  h3: (24px 30px, 32px 45px),
  h4: (20px 30px, 28px 30px)
);