// Navigation Styles: Primary
.site-header__nav {
  text-align: right;

  a {
    @extend .link;
    font-weight: 900;
    padding: $small-spacing;
  }

  @include bp(small) {
    padding: 12px;
  }
}
