// Navigation Styles: Primary
.nav.main-nav {
  text-align: right;

  a {
    color: c('green');
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 12px 6px;
    text-transform: uppercase;
  }

  @include bp(small) {
    padding: 12px;
  }
}
