/*
 * Colors
 *
 * Variable names should describe what they contain.
 * Use '$color-' + a color description in the variable name
 * eg $color-blue instead of $color-primary.
 * These are just a few examples to get you going. Change as needed
 *
 * Create additional variables for "meaningful" / semantic color labels
 * and use the variables with color-specific names as the values.
 */

$colors: (
  'gray': #2C313E,
  'purple': #60569C,
  'green': #5C6443,
  'yellow': #DAC935,
  'offwhite': #EBECF0
);

$variations: (
  light: (
    function: lighten,
    parameters: 15%
  ),
  dark: (
    function: darken,
    parameters: 10%
  ),
  fade: (
    function: rgba,
    parameters: .7
  )
);

$color-white:           c('offwhite');
$color-black:           #000;

// Purpose Colors
$base-font-color:       c('gray');
$action-color:          c('purple');
$hover-color:           c('purple', dark);
$base-background-color: c('offwhite');

$base-border-color:     c('green');
$base-border:           1px solid $base-border-color;
$base-border-radius:    2px;

$form-box-shadow:       inset 0 1px 3px rgba(c(gray, dark), 0.25);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
