.l-hero {
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    text-shadow:
      1px 1px 0 c('green'),
      2px 2px 0 c('green'),
      3px 3px 0 c('green'),
      4px 4px 0 c('green'),
      5px 5px 0 c('gray'),
      6px 6px 0 c('gray'),
      7px 7px 0 c('gray'),
      8px 8px 0 c('gray');
  }

  h2 {
    margin-right: auto;
    margin-left: auto;
    max-width: 15em;
  }

  .button {
    margin-top: $base-spacing;
  }

  @include bp(medium) {
    min-height: calc(100vh - 180px);

    .button {
      margin-top: $large-spacing;
    }
  }
}