body {
  font-feature-settings: "kern", "liga", "pnum";
  color: $base-font-color;
  font-family: $base-font-family;
  @include font(p);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 0 0 $base-spacing;
}

@function power($x, $n) {
  $return: 1;
  @if $n > 0 {
    @for $i from 1 through $n {
      $return: $return * $x;
    }
  } @else if $n < 0 {
    @for $i from $n to 0 {
      $return: $return / $x;
    }
  }
  @return $return;
}

@for $i from 1 to 4 {
  h#{$i} {
    @include font('h#{$i}')
  }
}

p {
  margin: 0 0 $base-spacing;
}

a:not(.button) {
  color: $action-color;
  text-decoration: none;
  transition: color .2s;

  @include haf {
    color: $hover-color;
    outline: none;
  }

  .l-purple &,
  .l-green &,
  .l-gray & {
    color: c('yellow');

    @include haf {
      color: c('offwhite', fade);
    }
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  display: inline-block;
  background-color: #FFE0B2;
  border: 1px solid currentColor;
  color: #EF6C00;
  margin: .5em auto;
  padding: 1ch;
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

.center {
  text-align: center;
}
