fieldset {
  background-color: lighten($base-border-color, 10%);
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $base-font-family;
  @include font(p);
}

label {
  font-weight: 300;
  margin-bottom: math.div($small-spacing, 2);

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

[type='color'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
input:not([type]),
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: 2px solid c('yellow');
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: c('gray');
  font-family: $base-font-family;
  font-size: 18px;
  margin-bottom: $base-spacing;
  padding: 24px 34px;
  transition: $base-transition;
  width: 100%;

  &:hover,
  &:active {
    border-color: $action-color;
  }

  &:focus {
    border-color: #000000;
    outline: none;
  }
}

[type="number"].qty.text {
  padding: 24px 5px;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: math.div($small-spacing, 2);
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

.select-wrapper {
  position: relative;

  &:after {
    color: $action-color;
    content: '\25BC';
    display: inline-block;
    font-size: 13px;
    position: absolute;
    top: 40%;
    right: 2%;
  }
}

select {
  appearance: none;
  background: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid c('yellow');
  height: 72px;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: $large-spacing;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  width: 100%;

  &:hover,
  &:active {
    border-color: $action-color;
  }

  &:focus {
    border-color: #000000;
    outline: none;
  }
}

.search {
  display: flex;
  margin-bottom: $large-spacing;

  input {
    border-right: 0;
    font-size: 22px;
    margin: 0;
  }
}

.hidden-label {
  font-size: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
