.l-hero {
  min-height: calc(100vh - 122px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    @include font(hero);
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    letter-spacing: (1em/32);
    text-shadow:
      1px 1px 0 c('green'),
      2px 2px 0 c('green'),
      3px 3px 0 c('green'),
      4px 4px 0 c('green'),
      5px 5px 0 c('gray'),
      6px 6px 0 c('gray'),
      7px 7px 0 c('gray'),
      8px 8px 0 c('gray');
  }

  em {
    display: block;
    font-style: normal;
  }
}